@media (max-width: 375px){
  body {
    background-color: blue;
  }
  header, main, footer {
    display: none;
  }
  .wrapper__space {
    background: url(https://celes.club/uploads/posts/2022-05/1654023304_1-celes-club-p-oboi-zemlya-krasivie-1.jpg) no-repeat;
    background-size: cover;
    z-index: -100;
    min-height: calc(100vh - 144px);
  }
}
